html
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

*, *:before, *:after
	-webkit-box-sizing: inherit
	-moz-box-sizing: inherit
	box-sizing: inherit

body
	padding: 0
	margin: 0
	background-color: $white
	font-weight: 400
	font-size: 16px
	color: $font-color
	font-family: "futura-pt",sans-serif
	-webkit-font-smoothing: antialiased
	text-rendering: optimizeLegibility
	-webkit-overflow-scrolling: touch
	position: relative
	width: 100%

*, html, body, h1, h2, h3, h4, a, ul, li, p
	margin: 0
	padding: 0


//INPUT=========================================================================
.mc-field-group.inner
	position: relative
	display: flex
	.submit
		background-color: #b7a59f
		position: absolute
		right: 0
		top: 0
		width: 120px
		height: 52px
		box-shadow: 0 0 20px rgba($black, 0.4)
		overflow: hidden
		&:after
			content: ''
			position: absolute
			top: -100%
			left: 0
			height: 100%
			width: 100%
			background-color: $white
			transition: .265s ease all
		input
			background-color: transparent
			z-index: 10
			transition: .265s ease all
		&:hover
			&:after
				top: 0
			input
				color: $deep-purple

	.mail
		background-color: rgba($white, 0.2)
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 52px
		overflow: hidden
		&:after
			content: ''
			position: absolute
			top: 100%
			left: 0
			height: 100%
			width: 100%
			background-color: $white
			transition: .265s ease all
			z-index: -1
		input
			background-color: transparent
			z-index: 10
			transition: .265s ease all
		&.focus
			&:after
				top: 0
			input
				color: $deep-purple
