#app
	overflow-x: hidden


//section=======================================================================
section
	position: relative


.image
	z-index: 600

//
@keyframes fadeIn
	0%
		opacity: 0
	100%
		opacity: 1

@keyframes fadeInLight
	0%
		opacity: 0
	100%
		opacity: .15


@keyframes fadeInBottom
	0%
		opacity: 0
		transform: translateY(30px)
	100%
		opacity: 1
		transform: translateY(0)


.wow
	visibility: hidden

.animated
	animation-duration: .5s
	animation-delay: .1s
	animation-fill-mode: both
	@media(max-width: $breakpoint-tablet)
		animation-delay: 0
		animation-duration: .3s

.animated.hinge
	animation-duration: 2s

.fadeIn
	animation-name: fadeIn

.fadeInLight
	animation-name: fadeInLight


.fadeInBottom
	animation-name: fadeInBottom



.center-image
	img
		margin-left: 10vw
		@media(max-width: 1120px)
			margin-left: 5vw
		@media(max-width: 968px)
			margin-left: 0vw



.try-button
	padding: 15px 30px
	border-radius: 4px
	background-color: $deep-purple
	color: $white
	margin-top: 40px
	margin-bottom: 40px
	transition: .2s ease all
	position: relative
	cursor: pointer
	&:hover
		background-color: $darker-cream
	&.disable, &.disable:hover
		background-color: #eee
		cursor: default

	&.invert
		background-color: $darker-cream
		position: relative
		width: 215px
		flex-grow: -1
		&:hover
			background-color: $deep-purple


.calendar, .directory
	padding-top: 60px



.news, .series, .results
	@media(min-width: 1000px)
		padding-left: 10vw
		padding-right: 10vw
