.pricing
	padding: 180px 0 60px 0
	.content
		flex-flow: column wrap
		max-width: 640px
		margin: 0 auto
		@media(max-width: 500px)
			width: 90vw

		&-txt
			margin: 0 auto

		.overflow-text
			position: relative
			height: 90px
			overflow: hidden
			transition: .2s ease all
			p
				font-weight: 100 !important
			@media(min-width: 769px)
				height: 220px

		p
			width: 430px
			position: relative
			transition: .2s ease all

			&:after
				content: ''
				display: block
				position: absolute
				left: 0
				top: 45px
				width: 430px
				@media(max-width: 500px)
					width: 300px

				height: 45px
				background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
				z-index: 10
				transition: .2s ease all
				@media(min-width: 769px)
					opacity: 0

			&.more
				height: 165px
				&:after
					opacity: 0
					top: 140px

			@media(max-width: 500px)
				width: 300px

		.read-more
			position: absolute
			border: none
			appareance: none
			background-color: $cream
			color: $white
			padding: 5px 10px
			border-radius: 3px
			bottom: 5px
			box-shadow: 0 2px 5px rgba(black, 0.2)
			cursor: pointer
			transition: .25s ease all
			z-index: 10
			@media(min-width: 769px)
				display: none
			&:focus, &:hover
				outline: none
			&:hover
				background-color: $darker-cream


	.form-mailchimp
		max-width: 500px
		margin: 48px 0
		width: inherit
		@media(max-width: $breakpoint-tablet)
			max-width: 90vw
			margin: 48px auto
		h3
			color: $darker-cream
			font-size: 24px
			margin-bottom: 16px

	.mail
		box-shadow: 0 0 30px rgba(0,0,0, 0.1)
		background-color: transparent !important
		input
			background-color: white !important
			color: rgba($black, 0.3)

	.submit
		box-shadow: 0 0 0 transparent !important
		border-left: 1px solid #eee
		width: 100px !important
		@media(max-width: $breakpoint-tablet)
			display: block
			width: 80px !important
			input
				left: 0
				padding-left: 10px


.pack
	display: flex
	flex-flow: column wrap
	justify-content: flex-start
	align-content: center
	align-items: center
	background-color: #F8F7F5
	position: relative
	padding-bottom: 80px
	margin-bottom: 40px
	height: 1044px
	@media(max-width: 840px)
		height: auto
		flex-flow: row wrap
		justify-content: center

	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 75px
		background: #fff
		z-index: 0
		display: block

	.pack-item
		width: 400px
		border-radius: 5px
		background-color: #FFF
		box-shadow: 0 0 30px rgba(0,0,0,0.1)
		display: flex
		flex-flow: column wrap
		justify-content: center
		align-items: center
		align-content: center
		flex-grow: 0 !important
		margin: 0 16px
		z-index: 2
		transition: .5s ease all
		@media(max-width: 840px)
			max-width: 600px
			&:first-child
				margin-bottom: 24px

		&:hover
			box-shadow: 0 5px 40px rgba(0,0,0,0.15)
		img
			width: 60%
			max-width: 120px
			margin-top: 40px
			margin-bottom: 40px
		.price
			display: block
			flex-grow: 1
			width: 100%
			text-align: center
			padding: 15px 0
			border-top: 1px solid rgba(0, 0, 0, .1)
			border-bottom: 1px solid rgba(0, 0, 0, .1)
		.select-plan-button
			padding: 15px 30px
			border-radius: 4px
			background-color: $darker-cream
			color: $white
			margin-top: 40px
			margin-bottom: 40px
			transition: .2s ease all
			position: relative
			cursor: pointer
			border: none
			// &:after
			// 	content: 'Unavailable during the beta'
			// 	position: absolute
			// 	color: black
			// 	opacity: 0.3
			// 	left: 50%
			// 	bottom: -30px
			// 	font-size: 12px
			// 	transform: translateX(-50%)
			// 	width: 150px
			// 	text-align: center

			&:hover
				background-color: $deep-purple
			&.disable, &.disable:hover
				background-color: #eee
				cursor: default
		.included
			border-top: 1px solid rgba(0, 0, 0, .1)

.included
	width: 100%
	padding: 25px 30px 20px 50px
	&-item
		position: relative
		margin: 12px 0
		line-height: 20px
		&:last-child
			margin: 12px 0 6px 0
		&:after
			content: ''
			background: url('../assets/images/bullet.png')
			display: block
			position: absolute
			top: 4px
			left: -25px
			width: 12px
			height: 12px
			background-size: 12px
		ul
			li
				opacity: .6
				font-style: oblique
				margin: 12px 0 12px 20px
				line-height: 20px
				position: relative
				&:before
					content: ''
					display: block
					position: absolute
					top: 11px
					left: -20px
					width: 13px
					height: 1px
					background-color: $deep-purple
					opacity: 0.5


.morefeatures
	margin-bottom: 40px
	.included
		margin: 0 auto
		max-width: 500px
