.terms
	position: relative
	max-width: $breakpoint-tablet
	margin: 0 auto
	padding: 200px 0 80px 0
	article
		margin-bottom: $big-margin
	p
		margin-bottom: $default-margin

	ul
		list-style: circle

	ol
		list-style: decimal
		padding-left: $default-margin
		margin-bottom: $huge-margin
		li
			margin-bottom: $default-margin
	h3
		font-size: 22px
		margin-bottom: $default-margin

	h4
		text-transform: uppercase
		font-weight: 500
		font-size: 20px


	a
		text-decoration: underline
		color: $font-color
