.image
	width: 100%
	flex: auto
	@include displayFlex
	z-index: 10
	@media (min-width: $breakpoint-tablet)
		width: auto
	@media (min-width: $breakpoint-widescreen)
		width: auto

.fixed-image
	position: relative
	@media (min-width: $breakpoint-widescreen)
		position: absolute
		height:  100%

	&.position-right
		@include flexJustifyEnd
		@include flexAlignCenter
		right: 0
		top: 0
	&.position-left
		@include flexJustifyStart
		@include flexAlignCenter
		left: 0
		top: 0
.relative-image
	position: relative
