
//typo==========================================================================

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700')

html, body
	font-family: 'Source Sans Pro', sans-serif


.ministry
	font-family: 'Ministry'
	font-weight: 500

h1
	font-size: 32px
	font-weight: 500
	line-height: 1.4em
	@media (min-width: $breakpoint-tablet)
		font-size: 48px
		line-height: 1.2em
h2
	font-size: 36px
	font-weight: 500

h3
	@extend .ministry
	font-size: 16px
	margin-bottom: $big-margin

h4
	@extend .ministry
	font-size: 14px
	margin-bottom: $default-margin

a
	text-decoration: none

p
	margin-bottom: $default-margin
	line-height: 1.2em

.short-description
	margin-bottom: $huge-margin

.italic
	font-style: italic


.button
	text-align: center
	color: $white
	padding: 15px 0
	font-weight: 500
	display: block


.default-link
	color: $font-color
	text-decoration: none
	border-bottom: 1px solid $grey
	display: inline-block

.white-link
	color: $white
	text-decoration: none
	border-bottom: 1px solid $white

.title
	position: relative
	margin-bottom: 16px
	h1
		opacity: .15
		color: $primary
		font-size: 172px
		position: absolute
		z-index: -1
		line-height: 0px
		top: -24px
		left: -56px
		text-transform: uppercase
		@extend .ministry
	h2
		text-transform: uppercase
		margin-bottom: $medium-margin
		@extend .ministry
