.columns
	@include displayFlex
	@include flexWrap
	@media (min-width: $breakpoint-tablet)
		@include flexNoWrap

.column-50
	width: 100%
	@media (min-width: $breakpoint-tablet)
		width: 50%

.column-left
	padding: 0 0 $default-margin 0
	@media (min-width: $breakpoint-tablet)
		padding: 0 $medium-margin 0 0

.column-right
	padding: 0 0 $default-margin 0
	@media (min-width: $breakpoint-tablet)
		padding: 0 0 0 $medium-margin
