//footer========================================================================
.footer
	background-color: $deep-purple
	color: $white
	font-size: 12px
	position: relative
	min-height: 200px
	padding: 50px 0
	.content
		position: relative
		max-width: 800px
		margin: 0 auto
		@include displayFlex
		@include flexWrap
		@include flexJustifyAround
		width: 100%
	ul
		display: inline-block
		width: 100%
		margin-bottom: $default-margin
		padding: 0 $big-margin
		@media (min-width: $breakpoint-tablet)
			width: auto
			margin-bottom: 0
			padding: 0
	h4
		font-size: 12px
		text-transform: uppercase
		position: relative
		margin-bottom: $big-margin
		&:after
			content: ''
			display: block
			position: absolute
			left: 0
			bottom: -16px
			height: 2px
			width: 10px
		&.green:after
			background-color: #9FC86D
		&.yellow:after
			background-color: #FAC37C
		&.blue:after
			background-color: #84C8EF
		&.orange:after
			background-color: #F29BA2

	li
		margin-bottom: 16px
	a
		color: $white
		font-weight: 500
		display: block
		opacity: .75
		transition: .3s all ease-in
		&:hover
			opacity: 1
			transition: .3s all ease-in
