
//header========================================================================
.header
	@include displayFlex
	@include flexAlignEnd
	@include flexJustifyCenter
	@include flexWrap
	height: 80vh
	background-color: $deep-purple
	position: relative
	overflow: hidden
	@media(min-height: 850px)
		height: 640px
	&:after
		content: ''
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
		z-index: 100
		//background: $deep-purple
		// background: -webkit-linear-gradient(0, rgba($deep-purple, 1), rgba($deep-purple, .6))
		// background: -ms-linear-gradient(0, rgba($deep-purple, 1), rgba($deep-purple, .6))
		// background: linear-gradient(0, rgba($deep-purple, 1), rgba($deep-purple, .5))
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#181221+0,181221+100&1+0,0.5+100 */
		background: -moz-linear-gradient(top, rgba(24,18,33,1) 0%, rgba(24,18,33,0.5) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(24,18,33,1) 0%,rgba(24,18,33,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to top, rgba(24,18,33,1) 0%,rgba(24,18,33,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80181221', endColorstr='#181221',GradientType=0 ); /* IE6-9 */

	.default-content
		z-index: 200
		display: flex
		flex-flow: column wrap
		justify-content: center
		align-items: center
		align-content: center
	h1
		color: $white
		max-width: 600px
		text-align: center
		font-family: 'Ministry'
		margin-bottom: 0px
		text-shadow : 0 5px 20px rgba(0,0,0,.75)


.header-animation-container
	position: absolute
	top: 0
	left: 0
	bottom: 0
	right: 0
	z-index: 5
	@include displayFlex
	@include flexAlignStart
	@include flexJustifyCenter
	@include flexNoWrap

.header-animation-content
	width: 1980px
	@include displayFlex
	@include flexAlignStart
	@include flexJustifyCenter
	@include flexNoWrap
.header-animation-grid
	width: 248px
	min-width: 248px
	max-width: 248px
	&.offset-grid
		transform: translateY(-316px)


.header-animation-item
	padding: 12px
	height: 340px
	img
		width: 224px
		height: 316px
