//nav===========================================================================
nav
	position: absolute
	z-index: 150
	padding-top: $medium-margin
	width: 100%
	.items
		position: absolute
		right: 2vw
		top: 40px
		a
			background-color: rgba(white, .1)
			border: 1px solid $cream
			color: $cream
			padding: 10px 20px
			margin-right: 12px
			border-radius: 5px
			transition: .2s ease all
			&:hover, &:focus
				color: $white
				background-color: $darker-cream
				border: 1px solid $darker-cream

.logo
	position: relative
	margin-top: 8px
	@media(max-width: $x-mobile)
		width: 150px
		margin-top: 16px
	&:focus
		outline: none
