.form-mailchimp
	width: 100%
	max-width: 460px
	min-width: 300px
	width: 100%
	position: relative
	padding: 0
	margin: 0 auto  $huge-margin auto
	@media (min-width: $breakpoint-tablet )
		padding: 0
		width: 460px
	.inner
		position: relative

	.email
		border-radius: 0
		background: rgba(255,255,255, .3)
		width: 100%
		max-width: 460px
		border: 0
		outline: 0
		padding: $default-margin $default-margin
		color: $white
		margin-bottom: $small-margin
		&::-webkit-input-placeholder,
		&::-moz-placeholder,
		&:-ms-input-placeholder,
		&:-moz-placeholder
			color: $white
			opacity: 1
		@media (min-width: $breakpoint-tablet )
			margin-bottom: $small-margin

	.button
		border-radius: 0
		position: relative
		padding: $default-margin $medium-margin
		border: 0
		text-align: center
		background-color: $primary
		@media (min-width: $breakpoint-tablet )
			position: absolute
			top: 0
			right: 0
