// Section base ===========================================================================
.default-section
	padding-top: $xxhuge-margin
	position: relative
	@include displayFlex
	@include flexAlignCenter
	@include flexWrap
	min-height: 240px
	@media (min-width: $breakpoint-tablet)
		@include flexNoWrap
		@include flexJustifyBetween
		min-height: 600px
		padding-top: $xxhuge-margin*2

// Section with background ===========================================================================
.background-section
	padding: $xhuge-margin 0
	margin-top: $xxhuge-margin
	position: relative
	@include displayFlex
	@include flexAlignCenter
	@include flexWrap
	min-height: 240px
	@media (min-width: $breakpoint-tablet)
		@include flexNoWrap
		@include flexJustifyBetween
		margin-top: $xxhuge-margin *2

	.title
		h1
			top: -144px



//cta section===========================================================================
.cta-section
	@include displayFlex
	@include flexAlignCenter
	@include flexJustifyCenter
	@include flexWrap
	background: url(../assets/images/cta-background.png) no-repeat top center  $deep-purple
	background-size: cover
	padding: $xxhuge-margin 0 $huge-margin 0
	text-align: center
	&:after
		content: ''
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
		//background: $deep-purple
		// background: -webkit-linear-gradient(0, rgba($deep-purple, 1), rgba($deep-purple, .6))
		// background: -ms-linear-gradient(0, rgba($deep-purple, 1), rgba($deep-purple, .6))
		// background: linear-gradient(0, rgba($deep-purple, 1), rgba($deep-purple, .5))
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#181221+0,181221+100&1+0,0.5+100 */
		background: -moz-linear-gradient(top, rgba(24,18,33,1) 0%, rgba(24,18,33,0.5) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(24,18,33,1) 0%,rgba(24,18,33,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to top, rgba(24,18,33,1) 0%,rgba(24,18,33,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80181221', endColorstr='#181221',GradientType=0 ); /* IE6-9 */

	h1
		color: $white
		max-width: 600px
		text-align: center
		font-family: 'Ministry'
		font-weight: 500
		line-height: 64px
		margin-bottom: $huge-margin


// Inner section ===========================================================================

.section-container
	@include displayFlex
	@include flexAlignCenter
	@include flexWrap
	width: 100%
	@media (min-width: $breakpoint-tablet)
		@include flexNoWrap
		@include flexJustifyBetween
		max-width: $breakpoint-widescreen
		margin: 0 auto

// Content text ===========================================================================

.default-content
	position: relative
	z-index: 50
	max-width: 640px
	margin: $default-margin
	@media (min-width: $breakpoint-tablet)
		margin: 0 $default-margin

	p
		max-width: 400px


.white-content
	color: $white


// Loader Section =========================================================================

.noscroll
	overflow: hidden

@keyframes fadeIn
	0%
		opacity: 0
	100%
		opacity: 1

@keyframes load
	0%
		opacity: .2
	50%
		opacity: 1
	100%
		opacity: .2



.loader
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100vh
	background-color: $white
	display: flex
	justify-content: center
	align-items: center
	align-content: center
	z-index: 900
	transition: .7s .7s ease all
	h3
		margin: 0
		text-transform: uppercase
		letter-spacing: 3px
		font-size: 14px
		animation: load 1s linear infinite
	.after
		content: ''
		position: absolute
		top: 0
		left: 0
		height: 25px
		width: 100px
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		overflow: hidden
		&:after
			content: ''
			position: absolute
			top: -100%
			left: 0%
			width: 100%
			height: 100%
			display: block
			background-color: $deep-purple
			transition: .265s ease all

	&.notransition
		transition: 0s
		left: 500vw


body:after
	content: ''
	display: block
	background-color: $cream
	z-index: 200
	height: 200vh
	width: 100vw
	position: fixed
	top: -200vh
	left: 0
	transition: 1s ease-in-out top

body.loading
	.loader
		.after:after
			top: 100%

body.loaded
	&:after
		top: 200vh
	.loader
		top: 100vh
	&.notransition
		&:after
			transition: 0s
			left: 500vw


h1.color
	color: rgba($white, 0.6)

.header #mc_embed_signup_scroll
	padding-bottom: 50px
